<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .avatar{
            position: absolute;
            right: 80px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom: 20px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                🍌香蕉博客
            </a>
            <ul class="nav navbar-nav">
                <%if(user){%>
                <li><a href="/category/list">分类管理</a></li>
                <li><a href="/article/add">发表文章</a></li>
                <li><a href="/user/signout">退出</a></li>
                <%}else{%>
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <%}%>
            </ul>
            <%if(user){%>
            <ul class="nav navbar-nav avatar">
                <li><a href="/user/info"><img style="margin-right: 10px" width="23" height="23" src="<%=user.avatar%>" alt=""><span><%=user.username%></span></a></li>
            </ul>
            <%}%>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%if(success){%>
        <div class="alert alert-success" style="font-size: 20px; text-align: center"><%=success%></div>
        <%}%>
        <%if(error){%>
        <div class="alert alert-danger" style="font-size: 20px; text-align: center"><%=error%></div>
        <%}%>
    </div>
</div>