<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="nav navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">
                🍌香蕉博客
            </a>
            <ul class="nav navbar-nav">
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <li><a href="/category/list">分类管理</a></li>
                <li><a href="/user/signout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>